.hidden-box {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* .hidden {
  display: none;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  clip-path: inset(100%);
  white-space: nowrap;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}

.black {
  color: #111111;
}
.darkgray {
  color: #1e1823;
}
.orange {
  color: #fd9222;
}
.beige {
  color: #fcf1e0;
}
.light {
  color: #fafafa;
}

.btn-orange {
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover,
  &:focus {
    color: #fd9222;
    background-color: #fcf1e0;
  }
}

.btn-transparent {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: border 0.3s ease, color 0.3s ease;
  &:hover,
  &:focus {
    color: #fd9222;
    border: 1px solid #fd9222;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}
.header-container {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  padding: 20px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.logo {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../images/logo-img.svg);
    background-repeat: no-repeat;
    background-position: contain;
    top: -1px;
    right: -27px;
  }
}

.logo-italy {
  font-style: italic;
}

.header-nav-list {
  display: none;
}

.header-nav-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-nav-link {
  color: #111;
  transition: color 0.2s ease;
}
.header-nav-item:hover .header-nav-link,
.header-nav-item:focus .header-nav-link,
.header-nav-item:active .header-nav-link {
  color: #fd9222;
}

.header-contacts {
  display: none;
}

/* .header-contact-item {
} */
.header-contact-link > .contact-insta,
.header-contact-link > .contact-twitt {
  fill: transparent;
  stroke: #1e1823;
  transition: srtoke 0.3s, ease 0.3s;
}

.header-contact-link:hover .contact-insta,
.header-contact-link:hover .contact-twitt,
.header-contact-link:focus .contact-insta,
.header-contact-link:focus .contact-twitt {
  stroke: #fd9222;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-mob-btn-bar {
  display: flex;
  cursor: pointer;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
}
.header-mob-btn-icon {
  fill: transparent;
  stroke: #111;
  transition: stroke 0.3s, ease 0.3s;
}

.header-mob-btn-bar:hover .header-mob-btn-icon,
.header-mob-btn-bar:focus .header-mob-btn-icon {
  stroke: #fd9222;
}

.header-mob-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1e1823;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: opacity 0.3s ease, visibility 0.3s ease; */
}

.header-mob-menu-container {
  max-width: 375px;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 136px 20px 50px;
  margin: 0 auto;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.header-mob-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  stroke: #fff;
  cursor: pointer;
  transition: stroke 0.3s, ease 0.3s;
}

.header-mob-close-btn:hover,
.header-mob-close-btn:focus {
  stroke: #fd9222;
}

.header-mob-nav {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  height: 100%;
}

.header-mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
}
/* .header-mob-menu-item {
} */
.header-mob-menu-link {
  color: #fff;
  transition: color 0.2s ease;
}

.header-mob-menu-link:hover,
.header-mob-menu-link:focus,
.header-mob-menu-link:active {
  color: #fd9222;
}

/* .header-mob-contacts {
} */
.header-mob-contacts-list {
  display: flex;
  align-items: center;
  gap: 18px;
}
/* .header-mob-contact-item {
} */
/* .header-mob-contact-link {
} */

.header-mob-contact-icon {
  fill: transparent;
  stroke: #fff;
  transition: srtoke 0.3s, ease 0.3s;
}

.header-mob-contact-icon:hover,
.header-mob-contact-icon:focus {
  stroke: #fd9222;
}

.banner {
  background-color: #1e1823;
  background-image: linear-gradient(
      to bottom,
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url('../images/chocolate-covered-mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 30px;
  margin-bottom: 60px;
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url('../images/chocolate-covered-mob@2x.jpg');
  }
}

.banner .container {
  height: 100%;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 395px 40px 27px;
  gap: 32px;
}

.banner-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 295px;
  margin-bottom: 32px;
}
.banner-box-btn {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* gap: 32px 14px; */
  width: 100%;
  flex-wrap: wrap;
}

.banner-btn {
  padding: 12px 28px;
  margin-right: 14px;
}

.banner-link-how-made {
  padding: 12px 28px;
}

.banner-link-scroll {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: 0;
  margin-top: 40px;
  transition: color 0.2s ease;
}

.banner-link-scroll::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 38px;
  height: 38px;
  top: -50%;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-image: url(../images/arrow-orange.svg);
  background-color: #fff;
  transition: background-color 0.2s ease, background-image 0.2s ease;
  border-radius: 50%;
}

.banner-link-scroll:hover,
.banner-link-scroll:focus,
.banner-link-scroll:active {
  color: #fd9222;
}
.banner-link-scroll:hover::after,
.banner-link-scroll:focus,
.banner-link-scroll:active {
  background-color: #fd9222;
  background-image: url(../images/arrow-white.svg);
}

.stand-out {
  background-color: #1e1823;
  color: rgb(255, 255, 255);
  font-family: inherit;
}
.stand-out-container {
  padding: 20px;
}
.stand-out-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.stand-out-list {
  display: block;
}

.stand-out-item {
  width: 100%;
  margin-bottom: 38px;
}
.stand-out-img-box {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0);
  transition: box-shadow 0.3 ease-in-out;
}
.stand-out-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  fill: #fd9222;
  transform: translate(-50%, -50%);
}
.stand-out-item:hover .stand-out-img {
  transform: rotateY(-180deg);
  top: 15px;
  left: 15px;
  transition: all 0.3s ease-in-out;
}
.stand-out-item:hover .stand-out-img-box {
  box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.stand-out-title { 
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.stand-out-text {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.ingredients-container {
  padding: 60px 20px;
  font-family: inherit;
}
.ingredients-title {
  padding: 0 24px 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.ingredients-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.ingredients-list {
  display: block;
  margin-top: 32px;
  width: 100%;
}

.ingredients-item {
  position: relative;
  width: 100%;
  height: 270px;
  max-width: 335px;
  margin-bottom: 20px;
  /* cursor: pointer; */
  overflow: hidden;
}

.ingredients-box {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  height: 100%;
  /* width: 100%; */
  padding: 28px;
}
.bg-orange {
  background-color: #fd9222;
  border: 1px solid #fd9222;
  color: #fff;
}
.bg-white {
  background-color: #ffffff;
  border: 1px solid #fd9222;
  color: #111;
}
.bg-black {
  background-color: #111;
  border: 1px solid #111;
  color: #ffffff;
}

.ingredients-name {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.ingredients-img {
  margin: auto;
}
.ingredients-desc-box {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  padding: 28px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  border: 1px solid #fd9222;
  font-family: inherit;
  color: #111;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  /* white-space: wrap; */
  scroll-behavior: smooth;
}
.ingredients-item:hover .ingredients-desc-box,
.ingredients-item:focus .ingredients-desc-box,
.ingredients-item:active .ingredients-desc-box {
  transform: translateY(0);
}

.ingredients-desc-name {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.ingredients-desc-link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  :nth-child(2n) {
    background-color: #fafafa;
    color: #111;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  :nth-child(2n + 1) {
    background-color: #fd9222;
    color: #fff;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  :hover:nth-child(2n) {
    background-color: #fd9222;
    color: #fff;
  }
  :hover:nth-child(2n + 1) {
    background-color: #fafafa;
    color: #111;
  }
}

.ingredients-decs-link {
  /* display: block; */
  margin: 8px 0 14px;
  padding: 6px 16px;
  border: 1px solid #fd9222;
  border-radius: 35px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}
.ingredients-decs-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  white-space: nowrap; 
  /* Prevents text from wrapping to the next line */
  /* overflow: hidden;   */
  /* Hides any overflowing content */
  text-overflow: ellipsis;  
  /* Displays an ellipsis (...) to indicate truncated text */
}

.how-made-container {
  padding: 0 20px 20px;
  font-family: inherit;
  color: #111;
}
.how-made-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.how-made-box {
  margin: 32px auto 0;
}
.how-made-box-picture,
.how-made-box-img {
  /* display: block; */
  margin: 0 auto 20px;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

.how-made-box-text {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 14px;
}

.how-made-hook {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}
.how-made-hook-list {
  display: block;
}
.how-made-hook-item {
  position: relative;
  margin-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.how-made-hook-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #ececec;
  top : 4px;
  left: -16px;
}
.testimonials-container {
  padding: 40px 20px;
  font-family: inherit;
  color: #111;
}
.testimonials-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.testimonials-box {
  margin: 32px auto;
}
.testimonials-list{
  font-family: inherit;
  text-align: center;
  padding-top: 42px;
}

.testimonials-card {
  position: relative;
  max-width: 100%;
  width: auto;
  height: 200px;
  padding: 56px 18px 18px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}

/* .testimonials-card-img-box, */
.testimonials-card-img  {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  box-shadow: 0 0 15px 3px rgba(17, 17, 17, 0.3);
  overflow: hidden;
}


/* .testimonials-card-img { */
  /* width: 100%; */
  /* height: auto; */
  /* margin: 50% auto; */
  /* transform: translateY(-50%); */
/* } */

.testimonials-card-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;  
  margin-bottom: 24px;
}

.testimonials-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.testimonials-btn {
  display: block;
  margin: 32px auto 20px;
  padding: 14px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: transparent;
  border: 1px solid #fd9222;
  border-radius: 100px;
  /* padding: 14px 40px; */
  width: 222px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}
.testimonials-btn:hover,
.testimonials-btn:focus {
  background-color: #fd9222;
  color: #fff;
}

.modal-review {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(250, 250, 250, .5);
}
.modal-review.review-open {
  display: flex;
}

.review-container {
  position: relative;
  padding: 32px 24px;
  width: 311px;
  max-height: 619px;
  background-color: #fafafa;
  border-radius: 15px;
  margin: auto;
  font-family: inherit;
  box-shadow: 0 0 15px 3px rgba(17, 17, 17, 0.3);
}

.review-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #111;
  cursor: pointer;
  transition: stroke 0.3s ease;
}
.review-close-btn:hover,
.review-close-btn:focus {
  stroke: #fd9222;
}

.review-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 32px;
}
.review-form-box {
  margin-bottom: 14px;
}

.review-form-label {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 4px;
}

.review-form-input {
  position: relative;
  .form-input {
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 13px 13px 13px 43px;
    width: 100%;
    height: 45px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    background-color: transparent;
    transition: border .2s ease;
    &::placeholder {
      color: transparent;
    }
  }
  .review-form-icon {
    position: absolute;
    top: 14px;
    left: 18px;
    width: 17px;
    height: 17px;
    stroke: #404040;
    transition: stroke .2s ease;
  }
  &:hover input {
    border: 1.50px solid #fd9222;
  }
  &:hover .review-form-icon {
    stroke: #fd9222;
  }
  .form-text-invalid {
    position: absolute;
    content: "";
    bottom: -14px;
    left: 0;
    font-size: 10px;
    color: #d64040;
    display: block;
    display: none;
  }
}

.form-input:not(:placeholder-shown):invalid~.form-text-invalid {
  display: block;
  color: #d64040;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: #d64040;
}

.review-form-comment {
  border: 1.50px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 14px 18px;
  width: 100%;
  height: 91px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: transparent;
  resize: none;
  transition: border .2s ease;
  &::placeholder {
    color: rgba(64, 64, 64, 0.3);
  }
  &:hover {
    border: 1.50px solid #fd9222;
  }
}
.review-form-policy {
  position: relative;
  width: 100%;
  margin: 4px 0 32px;
  padding-left: 32px;
}
.visually-hidden,
.review-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 20px;
  height: 20px;
  /* flex-shrink: 0; */
}

.review-policy-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  .review-checkbox-custom {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    border-radius: 6px;
    background-color: rgba(253, 146, 34, 0);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    svg {
      margin: auto;
      fill: transparent;
      transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  a {
    text-decoration: underline;
  }  
}
.review-checkbox:checked + .review-policy-label>.review-checkbox-custom {
  border: none;
  background-color: rgba(253, 146, 34, 1);
  svg {
    fill: #fff;
  }
}

.review-form-btn {
  padding: 12px 28px;
  opacity: .7;
  pointer-events: none;
}
.review-form:has(input[required]:valid:not(:placeholder-shown)):not(:has(input[required]:invalid)) .review-form-btn:is(:hover, :focus, :active) {
  pointer-events: auto;
}

.review-form:has(input:valid[required]:not(:placeholder-shown)):not(:has(input[required]:invalid)) .review-form-btn {
  opacity: 1;
  pointer-events: auto;
}

.footer {
  background-color: #1e1823;
}
.footer-container {
  padding: 32px 20px;
}
.footer-top {
  position: relative;
  margin-bottom: 64px;
}
.footer-top::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* width: 335px; */
  /* height: 0px; */
  /* transform: rotate(-180deg); */
}
.footer-top-ad {
  font-family: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
  span {
    color: #fd9222;
  }
}

.footer-top-contact {
  margin-top: 32px;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #fff;
}
.footer-top-title {
  font-weight: 500;
}
.footer-top-contact-list {
  margin-top: 14px;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* .footer-top-contact-item {
} */
.footer-top-contact-link {
  color: #fff;
  transition: color 0.2s ease;
}

/* .footer-bottom {
} */
.footer-bottom-nav {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.footer-bottom-nav-list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
/* .footer-bottom-nav-item {
} */
.footer-mob-link {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.footer-bottom-nav-link {
  color: #fff;
  transition: color 0.2s ease;
}
.footer-bottom-nav-link:hover,
.footer-bottom-nav-link:focus {
  color: #fd9222;
}

.footer-bottom-form {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
  label {
    width: 207px;
    input {
      flex-grow: 1;
      width: 100%;
      height: 45px;
      border: none;
      border: 1.5px solid rgba(255, 255, 255, 0.15);
      border-radius: 30px;
      padding: 14px 18px;
      background-color: transparent;
      color: #fff;
      transition: border 0.3s ease, color 0.3s ease;
      &::placeholder {
        font-family: inherit;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        font-family: 'Montserrat', sans-serif;
        color: rgba(255, 255, 255, 0.3);
      }
      &:focus,
      &:hover {
        border: 1.5px solid rgba(253, 146, 34, 0.5);
      }
      &:focus::placeholder,
      &:hover::placeholder {
        color: rgba(253, 146, 34, 0.4);
      }
    }
  }
  .footer-form-btn {
    padding: 14px 24px;
    /* width: 120px;
    height: 45px; */
  }
}

@media screen and (max-width: 374px) {
  .footer-bottom-form {
    flex-wrap: wrap;
    label {
      width: 100%;
    }
    .footer-form-btn {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .banner-box-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px 0;
    flex-wrap: nowrap;
  }
  .banner-link-scroll {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 32px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .header-contacts {
    display: block;
  }

  .header-mob-btn-bar {
    display: none;
  }

  .banner {
    margin-bottom: 40px;
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url('../images/chocolate-covered-tab.jpg');
    @media screen and (min-resolution: 2x),
      (-webkit-min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to bottom,
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url('../images/chocolate-covered-tab@2x.jpg');
    }
  }

  .banner-container {
    padding: 671px 72px 40px;
    /* gap: 40px; */
  }

  .banner-title {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }
  .banner-btn {
    padding: 14px 40px;
  }

  .banner-link-how-made {
    padding: 14px 40px;
  }
  .banner-link-scroll {
    margin-left: auto;
    margin-top: 0;
  }

  .stand-out-container {
    padding: 50px 32px;
  }

  .stand-out-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 32px;
  }
  .stand-out-item {
    flex-basis: calc((100% - 32px) / 2);
    padding-right: 28px;
    margin-bottom: 0;
  }
  
  .ingredients-container {
    padding: 80px 32px;
  }
  .ingredients-title {
    padding: 0 146px 28px;
    font-size: 24px;
    line-height: 1.17;
  }
  .ingredients-title-text {
    padding: 0 110px 0;
  }
  .ingredients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 32px;
  }
  .ingredients-item {
    flex-basis: calc((100% - 32px) / 2);
    margin-bottom: 0;
  }
  
  .how-made-container {
    padding: 0 77px 40px;
  }

  .how-made-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .how-made-box {
    margin: 50px auto 0;
  }
  .how-made-box-text {
    padding: 32px;
  }

  .how-made-hook {
    margin-bottom: 28px;
  }

  .how-made-hook-list {
    display: block;
  }

  .testimonials-container {
    padding: 40px 20px 60px;
  }

  .testimonials-list {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .testimonials-card {
    padding: 56px 16px 16px;
    flex-basis: calc((100% - 16px) / 2);    
  }
  
  .review-container {
    padding: 40px;
    width: 517px;
    max-height: 794px;
  }
  
  .review-close-btn {
    top: 32px;
    right: 32px;
  }

  .review-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 40px;
  }

  .review-form-box {
    margin-bottom: 18px; 
  }

  .review-form-label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .review-form-input {
    position: relative;
    font-size: 18px;
    .form-input {
      padding: 22px 22px 22px 62px;
      height: 68px;
    }
    .review-form-icon {
      top: 22px;
      left: 24px;
      width: 24px;
      height: 24px;
    }
    .form-text-invalid {
      font-size: 12px;
    }
  }

  .review-form-comment {
    padding: 22px 24px;
    height: 137px;
    font-size: 18px;
    &::placeholder {
      font-size: 18px;
    }
  }

  .review-form-policy {
    margin: 0 0 40px;
  }

  .review-policy-label {
    font-size: 14px;
  }


  .review-form-btn {
    padding: 14px 40px;
  }

  .visually-hidden,
  .review-checkbox {
    /* visibility: hidden; */
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .footer-container {
    padding: 50px 32px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 74px;
  }

  .footer-top::after {
    bottom: -50px;
  }

  .footer-top-ad {
    font-size: 28px;
    line-height: 1.21;
  }

  .footer-top-contact {
    margin-top: 0;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .footer-bottom-nav-list {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .footer-bottom-form {
    gap: 8px;
    label {
      width: 232px;
    }
    .footer-form-btn {
      padding: 14px 28px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .header {
    gap: 90px;
  }
  .logo {
    font-size: 18px;
    line-height: 1.11;
    &::after {
      width: 24px;
      height: 24px;
      top: -1px;
      right: -30px;
    }
  }

  .banner {
    max-width: 100%;
    margin-bottom: 72px;
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url('../images/chocolate-covered.jpg');

    @media screen and (min-resolution: 2x),
      (-webkit-min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to bottom,
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url('../images/chocolate-covered@2x.jpg');
    }
  }
  .banner-title {
    max-width: 484px;
  }

  .stand-out-container {
    padding: 50px;
  }

  .stand-out-list {
    gap: 70px;
  }
  
  .stand-out-item {
    position: relative;
    flex-basis: calc((100% - 140px) / 3);
    padding-right: 18px;
    &:not(:nth-child(3n))::after  {
      content: '';
      position: absolute;
      width: 1px;
      height: 124px;
      background-color: rgba(255, 255, 255, 0.5);
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
    } ;
    &:last-child::after  {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      background-color: rgba(255, 255, 255, 0);
    } 
  }
  
  .ingredients-container {
    padding: 100px 32px;
  }

  .ingredients-title {
    padding: 0 390px 28px;

  }

  .ingredients-title-text {
    padding: 0 355px 0;
  }

  .ingredients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 19px;
  }

  .ingredients-item {
    flex-basis: calc((100% - 57px) / 4);
  }
  
  .ingredients-desc-box {
    padding: 20px;
  }

  .how-made-container {
    padding: 0 32px 20px;
  }

  .how-made-box {
    display: flex;
    gap: 32px;
    width: 100%;
  }
  .how-made-picture,
  .how-made-box-img {
    margin: 0;
    min-width: 600px;
  }

  .how-made-hook {
    margin-bottom: 28px;
  }

  .how-made-hook-list {
    display: block;
  }
  
  .testimonials-container {
    padding: 60px 20px 80px;
  }

  .testimonials-list {
    gap: 28px;
  }

  .testimonials-card {
    padding: 56px 16px 16px;
    flex-basis: calc((100% - 56px) / 3);
  }
  
  .footer-bottom-nav-list {
    gap: 24px;
  }
  .footer-bottom-form {
    label {
      width: 313px;
      input {
        height: 52px;
        padding: 14px 24px;
      }
    }
    .footer-form-btn {
      padding: 17px 32px;
      /* width: 137px;
      height: 52px; */
    }
  }
}


/* ============================================ */
.text-wrapper {
  display: inline-block;
  position: relative;
  max-width: 400px;
  font-family: sans-serif;
}

/* приховуємо чекбокс */
.expand-toggle {
  display: none;
}

/* початковий стан блоку */
.text-box {
  max-height: 100px;
  overflow: hidden;
  position: relative;
  padding: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: max-height 0.6s ease;
  background: #fff;
}

/* градієнт внизу */
.text-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, transparent, white);
  transition: opacity 0.4s ease;
}

/* коли чекбокс увімкнено */
.expand-toggle:checked~.text-box {
  max-height: 500px;
  /* або більше, якщо треба */
}

/* прибираємо градієнт у розгорнутому стані */
.expand-toggle:checked~.text-box::after {
  opacity: 0;
}

/* кнопка */
.toggle-btn {
  display: block;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
  color: #007BFF;
  font-size: 15px;
  text-decoration: underline;
  user-select: none;
  transition: color 0.3s;
}

.toggle-btn:hover {
  color: #0056b3;
}

/* текст кнопки змінюється динамічно */
.toggle-btn::after {
  content: "Show more";
}

.expand-toggle:checked+.text-box+.toggle-btn::after {
  content: "Show less";
}